# GetGround Data Task

## Goal: 
- to insert this data into a SQL database on your local machine; 
- run some SQL queries and analysis; 
- document, explain and visualize your response to the questions asked.

## Workflow:

- 1. Understand the data
- 2. Load raw data (csvs) into postgres 
- 3. Install dbt and connect to postgres ( Docker ?)
- 4. Create models
- 4. Analyze the data
- 5. Report

## Imports and setting

In [1]:
import pandas as pd
import numpy as np
import datetime

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# load partners
partners = pd.read_csv('/home/developer/Desktop/testes/tech-tests/GetGround_Analytics_Engineer_Data/partners.csv')
partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  522 non-null    int64
 1   created_at          522 non-null    float64
 2   updated_at          522 non-null    float64
 3   partner_type        522 non-null    object
 4   lead_sales_contact  522 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 20.5+ KB

In [4]:
partners.head()

   id    created_at    updated_at partner_type lead_sales_contact
0   2  1.598856e+18  1.607047e+18        Agent             Potato
1   3  1.598859e+18  1.618882e+18        Agent               Lion
2   4  1.598859e+18  1.616642e+18        Agent             Potato
3   5  1.598860e+18  1.607331e+18        Agent               Lion
4   6  1.598866e+18  1.609743e+18        Agent             Potato