# GetGround Data Task

## Goal: 
- to insert this data into a SQL database on your local machine; 
- run some SQL queries and analysis; 
- document, explain and visualize your response to the questions asked.

## Workflow:

- 1. Understand the data
- 2. Load raw data (csvs) into postgres 
- 3. Install dbt and connect to postgres ( Docker ?)
- 4. Create models
- 4. Analyze the data
- 5. Report

## Imports and setting

In [1]:
import pandas as pd
import numpy as np
import datetime

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
# load partners
partners = pd.read_csv('/home/developer/Desktop/testes/tech-tests/GetGround_Analytics_Engineer_Data/partners.csv')
partners.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  522 non-null    int64
 1   created_at          522 non-null    float64
 2   updated_at          522 non-null    float64
 3   partner_type        522 non-null    object
 4   lead_sales_contact  522 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 20.5+ KB

In [3]:
partners.head()

   id    created_at    updated_at partner_type lead_sales_contact
0   2  1.598856e+18  1.607047e+18        Agent             Potato
1   3  1.598859e+18  1.618882e+18        Agent               Lion
2   4  1.598859e+18  1.616642e+18        Agent             Potato
3   5  1.598860e+18  1.607331e+18        Agent               Lion
4   6  1.598866e+18  1.609743e+18        Agent             Potato

In [4]:
# load referrals
referrals = pd.read_csv('/home/developer/Desktop/testes/tech-tests/GetGround_Analytics_Engineer_Data/referrals.csv')
referrals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1470 non-null   int64
 1   created_at     1470 non-null   float64
 2   updated_at     1470 non-null   float64
 3   company_id     1470 non-null   int64
 4   partner_id     1470 non-null   int64
 5   consultant_id  1470 non-null   int64
 6   status         1470 non-null   object
 7   is_outbound    1470 non-null   int64
dtypes: float64(2), int64(5), object(1)
memory usage: 92.0+ KB

In [6]:
referrals.head()

,id,created_at,updated_at,company_id,partner_id,consultant_id,status,is_outbound
0,1,1.598956e+18,1.598956e+18,385,4,4,successful,0
1,2,1.599105e+18,1.599105e+18,390,7,8,successful,0
2,3,1.599105e+18,1.599105e+18,387,7,8,successful,0
3,4,1.599105e+18,1.599105e+18,385,7,8,successful,0
4,5,1.599106e+18,1.599106e+18,331,8,9,successful,0

In [8]:
referrals.status.unique()

array(['successful', 'disinterested', 'pending'], dtype=object)

In [9]:
referrals.columns

Index(['id', 'created_at', 'updated_at', 'company_id', 'partner_id',
       'consultant_id', 'status', 'is_outbound'],
      dtype='object')

In [10]:
# load sales_people
sales_people = pd.read_csv('/home/developer/Desktop/testes/tech-tests/GetGround_Analytics_Engineer_Data/sales_people.csv')
sales_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     12 non-null     object
 1   country  12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes

In [11]:
sales_people.columns

Index(['name', 'country'], dtype='object')

In [12]:
sales_people.head()

     name    country
0  Orange  Singapore
1   Apple  Singapore
2    Lion   HongKong
3    Tree   HongKong
4    Root   HongKong

In [13]:
# Lead_sales people = names

In [17]:
list1 = list(sales_people.name.unique())
list1.sort()
list1

['Apple',
 'Cloud',
 'Daisy',
 'Fig',
 'Horiz',
 'Leaf',
 'Lion',
 'Orange',
 'Root',
 'Sky',
 'Tree',
 'Tulip']

In [18]:
list2 = list(partners.lead_sales_contact.unique())
list2.sort()
list2

# temos 0

['0',
 'Apple',
 'Cloud',
 'Daisy',
 'Fig',
 'Horiz',
 'Leaf',
 'Lion',
 'Potato',
 'Root',
 'Sky',
 'Tree',
 'Tulip']

In [22]:
diff = set(list1) - set(list2)
diff

{'Orange'}

In [23]:
diff = set(list2) - set(list1)
diff

{'0', 'Potato'}

In [ ]:
# nao temos orange, 0 e potato